body {
	margin: 0;
	padding: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: white;
	background-image: url(https://static.vecteezy.com/system/resources/previews/002/173/088/non_2x/abstract-dark-blue-background-and-scratch-streak-texture-vector.jpg);
	font-size: 1em;
	line-height: 1.5em;
}


h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

#main-header {
	background-image: url(https://www.publicdomainpictures.net/pictures/320000/nahled/grungy-light-gray-concrete-texture.jpg);
	color: rgb(50, 51, 47);
	height: 100px;
}	
	#main-header a {
		color: rgb(50, 51, 47);
	}

	#main-header .pa a {
		color: white;
		font-size: 30px;
	}

/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 25px 0 0 20px;
	text-decoration: none;
}
	
	#logo-header .site-name {
		display: block;
		font-size: 5em;
		color: #09063E;
		font-style: italic;
		background-color: #b2ec10;
	}
	
	#logo-header .site-desc {
		display: block;
		padding: 27px;
		font-weight: 300;
		font-size: 1.5em;
		color: black;
	}

.pa{
	background-color: rgb(50, 51, 47);
	color: lavender;
}
	

/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
			font-size: 30px;
		}
			
			nav ul li a {
				display: block;
				padding: 0px 10px;
				text-decoration: none;
				font-size: 25px;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
				}

				#main-content {
					background-image: url(https://static.vecteezy.com/system/resources/previews/002/173/088/non_2x/abstract-dark-blue-background-and-scratch-streak-texture-vector.jpg);
					width: 90%;
					max-width: 800px;
					margin: 20px auto;
					box-shadow: 0 0 10px rgba(0,0,0,.1);
				}
				
					#main-content header,
					#main-content .content {
						padding: 40px;
					}

				
				#main-footer {
					background:#BBBBB9;
					color: white;
					text-align: center;
					padding: 20px;
					margin-top: 40px;
				}
					#main-footer p {
						margin: 0;
					}
					
					#main-footer a {
						color: white;
					}




.container{
  margin: auto;
  background-color: rgba(102, 91, 91, 0.329);
  width: 800px;
  padding: 0px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background: #acabb8;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: #09063E;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

footer p{
	color: rgb(255, 255, 255);
}

#main-footer{
	background-image: url(https://static.vecteezy.com/system/resources/previews/002/173/088/non_2x/abstract-dark-blue-background-and-scratch-streak-texture-vector.jpg);
}

